<ion-header>
  <ion-toolbar>
    <ion-title>เลือกเมนูอาหาร</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">ยกเลิก</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let menu of menuList" (click)="toggleSelect(menu)">
      <ion-label>
        <h3>{{ menu.name }}</h3>
        <p>{{ menu.priceInShop }} บาท</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="menu.selected" (click)="toggleSelect(menu)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="confirm()">ยืนยัน</ion-button>
</ion-content>
