<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มวัตถุดิบใหม่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addMaterial()" #materialForm="ngForm">
    <ion-item>
      <ion-label position="stacked">ชื่อวัตถุดิบ</ion-label>
      <ion-input [(ngModel)]="material.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">หน่วย</ion-label>
      <ion-input [(ngModel)]="material.unit" name="unit" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">ประเภท</ion-label>
      <ion-select [(ngModel)]="material.type" name="type" required>
        <ion-select-option value="purchase">ต้องซื้อ</ion-select-option>
        <ion-select-option value="refill">เติมจากสต๊อก</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">หมวดหมู่วัตถุดิบ</ion-label>
      <ion-select [(ngModel)]="material.category" name="category" required>
        <ion-select-option value="เนื้อสัตว์">เนื้อสัตว์</ion-select-option>
        <ion-select-option value="เครื่องปรุง">เครื่องปรุง</ion-select-option>
        <ion-select-option value="ผัก">ผัก</ion-select-option>
        <ion-select-option value="เครื่องดื่ม">เครื่องดื่ม</ion-select-option>
        <ion-select-option value="แป้งและข้าว">แป้งและข้าว</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">ที่จัดเก็บสต๊อก</ion-label>
      <ion-select [(ngModel)]="material.storageLocation" name="storageLocation" required>
        <ion-select-option value="ถังหน้าร้าน">ถังหน้าร้าน</ion-select-option>
        <ion-select-option value="ตู้แช่">ตู้แช่</ion-select-option>
        <ion-select-option value="บาร์น้ำ">ถังบาร์น้ำ</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!materialForm.form.valid">
      บันทึกวัตถุดิบ
    </ion-button>
  </form>
</ion-content>